<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- dataSource在db中有配置 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<!-- 加载mapper配置文件 -->
		<property name="mapperLocations" value="classpath*:mybatis/*.xml"></property>
		<!-- 加载mybatis配置文件 -->
		<!-- <property name="configLocation" value="classpath:mybatis/SqlMapConfig.xml"/> -->
		<!-- 设置别名,多个包名用,分隔 -->
		<property name="typeAliasesPackage" value="com.webmodel.domain,com.webmodel.dto"></property>
	</bean>

	<!-- 扫描Mapper(dao)包 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.webmodel.dao"></property>
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
	</bean>

</beans>